#contents , #car_contents{
margin:0;
}

#car_contents {
background-color:#fff;
}

#cmdetails {
width:auto;
}


/* carpage print*/

body.grade {
_zoom:0.90;
}
body.spec {
 _zoom:0.80;
}

#general {
line-height:normal;
font-size:12px;
background-color:#fff;
}

#car_crumb,#car_localArea_carTop,#global,#header .right,#car_localfooter,
#footer .linkArea,#carPurchaseNavigation,#car_localArea {
display:none;
background:none;
}

#car_localArea {
width:921px;
}

#mainall {
width:auto;
}

#car_mainAera {
padding-left:0;
padding-right:0;
}

#car_mainArea, #header {
background:none;
}

.grade h2, .grade #mainLeft, .grade #fhlink_Area {
display:none;
}

.grade #mainRight {
float:none;
width:auto;
}

.grade .grade_Block {
width:auto;
}

.grade .rowline {
}

.grade .gradeEquip {
width:100%;
}

.grade .rowline ,.grade .rowline li {
}
.grade .rowline li {
float:none;
}

.grade .carpg_line1 {
visibility:hidden;
padding:0;
}

.grade .btBox {
visibility:hidden;
}

.grade #pagetitle .inpage {
visibility:hidden;
}

/*
.grade #box_b, .grade #basenotes {
page-break-before:always;
}*/

.grade #box_b, .grade #basenotes {
page-break-before:auto;
}

.grade #box_a {
page-break-before:always;
}


.grade #mainLeft {
display:none;
}
.grade #mainRight {
float:none;
}

.specbt, #Eqtg1, #Eqtg2, #Eqtg3, #Eqtg4, #Eqtg5, #Eqtg6, #Eqtg7, #allbt {
display:none;
}

.grade #wrapall #mainall #car_contents #car_mainArea {
background:none;
}

body#general {
background-color:#ffffff;
}

/*spec*/
.specscroll {
height:auto;
overflow:visible;
}
