
/* ----------------------------- */
/* main.css overwrite */
/* ----------------------------- */
.sidemenu_box {
height:470px;
}

#main_headmenu {
	height:20px;	
}

#container_main {
margin-left:5px !important;
margin-right:5px !important;
width:980px !important;
}

#sidemenu_lineup {
margin-left:13px;
}

#main_wrap2 {
display: inline;
float: right;
margin-right:15px;
}

#main_wrap2,
#main_contents {
width:775px;
}

#main_wrap {
	width:auto;
	float:none;
	margin:0;	
}

#main_contents {
	min-height:465px !important;
	height:465px !important;
}

#main_wrap > #main_contents {
	height:auto !important;
}


#carContentMainArea a {
	text-decoration:underline !important;
}
#carContentMainArea a.cilink {
	color:#e31901 !important;
}

p.pageTop {
width:auto !important;
margin:0 !important;
}

.attention {
padding:2px 0 0 29px;
background:url(/lineup/component/cms_images/attention_ico_01.gif) no-repeat top left;
}

.indent {
	margin-left:15px;
}

/* ----------------------------- */
/* local Navigation */
/* ----------------------------- */

#carlocal_menu_sub {
width:775px;
height:41px;
background:url(/lineup/component/cms_images/lnv_bg_01.gif) no-repeat top left;
}

#carlocal_menu_sub ul {
padding:1px 0 0 9px;
}
#carlocal_menu li {
float:left;
margin-right:3px;
}


#carlocal_menu {
width:775px;
background:url(/lineup/component/cms_images/lnv_bg_02.gif) no-repeat bottom left;
}

.subNav ul {
	margin-left:16px;
}

.subNav li {
float:left;
margin-right:23px !important;
padding:10px 0 8px;
}

.subNav li a {
	display:block;
	padding-bottom:5px;
}
.subNav li a:hover {
    background: url(/component/images/bg_second_on.jpg) repeat-x scroll left bottom transparent;
}
.subNav li.stay a {
    background: url(/component/images/bg_secand_c.jpg) repeat-x scroll left bottom transparent;
}

/* ----------------------------- */
/* layout setting */
/* ----------------------------- */

.logo {
height:35px;
}

#page_visual {
	margin-top:10px;
	zoom:1;
}


#carContentWrap {
padding-top:14px;
padding-bottom:40px;
background:url(/lineup/component/cms_images/line_pt_01.gif) repeat-x top left;
line-height:1.6;
zoom:1;
}

#carContentMainArea {
clear:both;
}

.carContentBlockWrap {
	padding-bottom:5px;
	background:url(/lineup/component/cms_images/line_pt_03.gif) repeat-x bottom left;]
zoom:1;
}

.carContentBlock {
width:980px;
position:relative;
background:url(/lineup/component/cms_images/block_bg_01.jpg) no-repeat bottom left;
}

* html .carContentBlock  { 

}

#carContentWrap > .carContentBlock {
height:auto;
}

.carContentBlockInner {
width:980px;
height:541px;
min-height:541px;
background:url(/lineup/component/cms_images/block_bg_02.jpg) no-repeat top left;
}
.carContentBlock > .carContentBlockInner {
height:auto;
}

.carContentBlockInner2 {
margin-left:30px;
padding:1px 0 30px 0;
width:920px;
}

.minBlock {
min-height:0 !Important;
height:auto !important;
background:url(/lineup/component/cms_images/block_bg_01.jpg) no-repeat bottom left;

}


.h_wrap {
width:980px;
font-size:167%;
padding-top:5px;
background:url(/lineup/component/cms_images/content_bg_01.gif) repeat-x top left;
position:relative;

}
.h_wrap h2 {
padding-top:5px;
padding-left:44px;
background:url(/lineup/component/cms_images/h1_bg_01.gif) no-repeat top left;
line-height:49px;
font-weight:bold;
}
.h_wrap p.link1 {
	position:absolute;
	top:18px;
	right:20px;	
}

.page_anc {
	padding-left:30px;
background:url(/lineup/component/cms_images/anc_bg_01.gif) repeat-x top left;
line-height:38px;
}
.page_anc li {
float:left;
margin-right:15px;
padding-left:15px;
background:url(/lineup/component/cms_images/anc_ico_01.gif) no-repeat center left;
}

.httl,
.tophttl {
font-weight:bold;
font-size:120%;
line-height:1.2;
}

.httl span {
	font-size:80%;	
}

.carContentBlock {
font-size:125%;
}

.httl2,h4 {
	font-size:100%;
	font-weight:bold;
}
h4 {
margin-bottom:10px;
}

h3.inImg img,
h4.inImg img {
	vertical-align:middle;
	padding-right:5px;
}


/**/

.addLegend {
	position:relative;
}
.addLegend .legend {
	position:absolute;
	top:0;
	right:0;
}

.addLink {
	position:relative;
}
.addLink .link {
	position:absolute;
	top:10px;
	right:30px;
}
.addLink .link2 {
	position:absolute;
	top:0px;
	right:0px;
}

em.line {
	border-bottom:solid 1px #f00;
}

/**/

.pageNotes {
padding:25px 30px;
}
.pageNotes li {
margin-bottom:4px;
}

.pageNotes .httl {
margin-bottom:15px;	
}

.notes {
margin-top:10px;
font-size:80% !Important;
}

div.notes {
margin-top:15px;	
}

.notes p {
font-size:100% !Important;
}

.color-red {
  color: #e81122;
}

.color-blue {
  color: #638291;
}

.performance h4.paraend {
font-size: 125%;
color: #638291;
}

.performance .notes b,
.performance ul.notes li {
font-size: 75%;
}

.caption {
margin-top:18px;
font-weight:bold;	
}

.paraend {
margin-bottom:15px;
}

.boxend {
margin-bottom:30px;	
}

.boxBottomBorder {
margin-bottom:30px;
padding-bottom:30px;
border-bottom:1px solid #e9e9e9;
}

.flleft {
	float:left;
}
.flright {
	float:right;
}

.index_speBox {
	margin:15px 0 0;
}
.index_speBox .txBox {
	float:right;
	width:275px;
}
.index_speBox .btn {
	margin:10px 0 0 0;
	text-align:right;
}

.utinum img {
	vertical-align:middle;	
}

.new-icn {
	position: relative;
}

.new-img:before {
	content: url(/lineup/component/cms_images/uti_new_icn.jpg);
	position: absolute;
	top:  -2px;
  left: 285px;
}

.list-dot {
	position: relative;
	padding-left: 10px;
}

.list-dot:before {
	content: ".";
	position: absolute;
	top: -5px;
	left: 0;
}

.txtLeft {
	text-align:left !Important;
}
.txtRight {
	text-align:right !Important;
}
.txtCenter {
	text-align:center !Important;
}
.txtRed {
	color:#dc2328;
}

div.listNumParen p  {
padding-left:1.7em;
text-indent:-1.7em;
}
*>div.listNumParen p  {
padding-left:2.8em;
text-indent:-2.8em;
}


.eco_cl {
	color:#009944;
}
.eco_cl2 {
	color:#0068b7;
}


/* ----------------------------- */
/* top news						*/
/* ----------------------------- */
#carnews {
	background:url(/lineup/component/cms_images/news_bg_01.gif) repeat-x top left;
}

#carnews p {
	float:left;
}
#carnews div {
	float:left;
	width:846px;
}
#carnews ul {
	padding:11px 0 0 12px;
}
#carnews li {
	padding:2px 0 0 15px;
	background:url(/lineup/component/cms_images/news_ico_01.gif) no-repeat center left;
}
#carnews li span {
	font-weight:bold;
	padding-right:15px;
}


#page_visual {
	position:relative;
}

.visualBnBox {
	position:absolute;
	width:775px;
	height:80px;
	left:0;
	bottom:0;
	background:url(/lineup/component/cms_images/visual_bn_bg.png) no-repeat top left;
	z-index:50;
}
.visualBnBox li {
	position:absolute;
	z-index:100;
	top:10px;
}
.visualBnBox li.bn0 {
	left:12px;
}
.visualBnBox li.bn1 {
	left:203px;
}
.visualBnBox li.bn2 {
	left:393px;
}
.visualBnBox li.bn3 {
	left:583px;
}



/* ----------------------------- */
/* block 1						*/
/* ----------------------------- */
.layoutBlock1 {
margin-top:29px;
width:920px;
}
.woff {
	width:927px;
}


.layoutBlock1 .httl {
margin:0 0 15px;
}
.layoutBlock1 .boxTtl {
margin:0 !important;
}
.layoutBlock1 .box .img {
margin:0 0 17px;
}

/* ----------------------------- */
/* block 2						*/
/* ----------------------------- */
.layoutBlock2 {
margin-top:29px;
margin-right:-30px;
width:950px;
}

.layoutBlock2 .box {
float:left;
margin-right:30px;
width:445px;
position:relative;
}
.layoutBlock2 .httl {
margin:0 0 15px;
}
.layoutBlock2 .boxTtl {
margin:0 0 17px !Important;
}
.layoutBlock2 .boxTtl .httl {
margin:0;
}
.layoutBlock2 .box .img {
margin:0 0 16px;
}
.layoutBlock2 .box .overlay {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:445px;
	background:#000;
	cursor:pointer;
}

/* ----------------------------- */
/* block 2 other				*/
/* ----------------------------- */
.layoutBlock2b {
margin-top:29px;
margin-right:-30px;
width:950px;
}

.layoutBlock2b .box1 {
float:left;
margin-right:30px;
width:600px;
position:relative;
}
.layoutBlock2b .box2 {
float:left;
margin-right:30px;
width:290px;
position:relative;
}
.layoutBlock2b .httl {
margin:0 0 15px;
}
.layoutBlock2b .boxTtl {
margin:0 0 17px !Important;
}
.layoutBlock2b .boxTtl .httl {
margin:0;
}
.layoutBlock2b .box .img {
margin:0 0 16px;
}
.layoutBlock2b .box .overlay {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:445px;
	background:#000;
	cursor:pointer;
}

/* ----------------------------- */
/* block 3 CATEGORY TOP				*/
/* ----------------------------- */
.layoutBlock3_top {
margin-top:29px;
margin-right:-30px;
width:950px;
}
* html .layoutBlock3_top {

}

.layoutBlock3_top .box {
display:inline;
float:left;
margin:0 14px 0 0;
width:299px;
background:url(/lineup/component/cms_images/block3_bg_01.gif) no-repeat top left;
padding:3px 0 0 0;
position:relative;
}
.layoutBlock3_top .box .overlay {
	display:block;
	position:absolute;
	top:3px;
	left:3px;
	width:293px;
	background:#000;
	cursor:pointer;
}

.layoutBlock3_top .boxInner {
background:url(/lineup/component/cms_images/block3_bg_02.gif) no-repeat bottom left;
padding:15px 3px 3px;
_zoom:1;
}

.layoutBlock3_top .tophttl{
	margin:0 0 21px 19px;
	background:url(/lineup/component/cms_images/ttl01_bg_02.gif) repeat-y top left;
	font-size:120%;
}
.layoutBlock3_top .tophttl span{
	display:block;
	zoom:1;
	background:url(/lineup/component/cms_images/ttl01_bg_01.gif) no-repeat top left;
}
.layoutBlock3_top .tophttl span span{
	display:block;
	padding:10px 5px 10px 16px;
	zoom:1;
	background:url(/lineup/component/cms_images/ttl01_bg_03.gif) no-repeat bottom left;
}

.layoutBlock3_top .img {
	width:293px;
	overflow:hidden;
}

.layoutBlock3_top .txt {
	padding:15px 19px 21px 19px;
}
.layoutBlock3_top .btn {
	padding:0 0 21px 0;
	text-align:center;
}






/* ----------------------------- */
/* block 3						*/
/* ----------------------------- */
.layoutBlock3 {
margin-top:29px;
margin-right:-30px;
width:950px;
}
.layoutBlock3 .httl {
margin:0 0 15px;
}
.layoutBlock3 .boxTtl {
margin:0 0 17px !Important;
}
.layoutBlock3 .boxTtl .httl {
margin:0;
}
.layoutBlock3 .box {
float:left;
margin-right:30px;
width:286px;
overflow-x:hidden;
}
.layoutBlock3 .boxCenter {
float:left;
margin-right:29px;
width:287px;
}
.layoutBlock3 .caption2 {
text-align:center;
background:#4d4d4d;
color:#fff;
padding:5px 0;
font-size:100%;
}

.layoutBlock3 .box .img,
.layoutBlock3 .boxCenter .img {
margin:0 0 16px;
}

/* ----------------------------- */
/* block 4 CATEGORY TOP				*/
/* ----------------------------- */
.layoutBlock4_top {
margin-top:29px;	
margin-right:-30px;
width:950px;

}
.layoutBlock4_top {
padding-bottom:10px\9;
}

.layoutBlock4_top .box {
display:inline;
float:left;
margin:0 14px 0 0;
width:221px;
background:url(/lineup/component/cms_images/block4_bg_01.gif) no-repeat top left;
padding:3px 0 0 0;
position:relative;
}
.layoutBlock4_top .box .overlay {
	display:block;
	position:absolute;
	top:3px;
	left:3px;
width:215px;
	background:#000;
	cursor:pointer;
}



.layoutBlock4_top .boxInner {
background:url(/lineup/component/cms_images/block4_bg_02.gif) no-repeat bottom left;
padding:15px 3px 3px;
_zoom:1;
}



.layoutBlock4_top .tophttl{
	margin:0 0 0 19px;
	background:url(/lineup/component/cms_images/ttl01_bg_02.gif) repeat-y top left;
}
.layoutBlock4_top .tophttl span{
	display:block;
	background:url(/lineup/component/cms_images/ttl01_bg_01.gif) no-repeat top left;
	zoom:1;
}
.layoutBlock4_top .tophttl span span{
	display:block;
	padding:10px 5px 10px 16px;
	zoom:1;
	background:url(/lineup/component/cms_images/ttl01_bg_03.gif) no-repeat bottom left;
}

.layoutBlock4_top .img {
	width:293px;
	overflow:hidden;
}
.layoutBlock4_top .txt {
	padding:15px 19px 21px 19px;
}
.spec .layoutBlock4_top .txt {
	padding:15px 19px 50px 19px;
}

.layoutBlock4_top .btn {
	padding:0 0 21px 0;
	text-align:center;
}
.layoutBlock4_top .btn2 {
	padding:19px 0 21px 0;
	text-align:center;
}


/* ----------------------------- */
/* block 3						*/
/* ----------------------------- */
.layoutBlock4 {
margin-top:29px;
margin-right:-30px;
width:950px;
}
.layoutBlock4 .httl {
margin:0 0 15px;
}
.layoutBlock4 .boxTtl {
margin:0 0 17px !Important;
}
.layoutBlock4 .boxTtl .httl {
margin:0;
}
.layoutBlock4 .box {
float:left;
margin-right:18px;
width:215px;
overflow-x:hidden;
}
.layoutBlock4 .boxCenter {
float:left;
margin-right:29px;
width:287px;
}
.layoutBlock4 .caption2 {
text-align:center;
background:#4d4d4d;
color:#fff;
padding:5px 0;
font-size:100%;
}

.layoutBlock4 .box .img,
.layoutBlock4 .boxCenter .img {
margin:0 0 16px;
}
.layoutBlock4 .box h4{
	height: 2.8em;
}

/* ----------------------------- */
/* section			*/
/* ----------------------------- */
.sectionEnd {
	margin-bottom:25px;
}
.sectionBorder {
	padding-bottom:25px;
	background:url(/lineup/component/cms_images/section_border.gif) repeat-x bottom left;
	zoom:1;
}

/* ----------------------------- */
/* section 1			*/
/* ----------------------------- */
.section-type1 {
	
}
/* ----------------------------- */
/* section 2			*/
/* ----------------------------- */
.section-type2 {
margin-right:-30px;
width:950px;
}

.section-type2 .box {
float:left;
margin-right:30px;
width:445px;
}
.section-type2 .img {
margin-bottom:15px;
}

.section-type2b .boxLeft {
float:left;
width:610px;
}
.section-type2b .boxRight {
float:right;
width:290px;
}

.section-type2c .boxLeft {
float:left;
width:293px;
}
.section-type2c .boxRight {
float:right;
width:607px;
}



/* ----------------------------- */
/* section 3			*/
/* ----------------------------- */
.section-type3 {
margin-right:-20px;
width:950px;
}
.section-type3 .box {
float:left;
margin-right:20px;
width:293px;
}
.section-type3 .boxCenter {
float:left;
width:294px;
}

/* ----------------------------- */
/* section 4			*/
/* ----------------------------- */








/* ----------------------------- */
/* block ttl center				*/
/* ----------------------------- */
.carContentBlock .boxTtl {
display:table;
margin:20px 0 15px;
width:100%;
zoom:1;
}
.carContentBlock > .boxTtl {
height:auto;
}
* html .carContentBlock .boxTtl {  
position: relative;  
}
*+html .carContentBlock .boxTtl {  
position: relative;  
}

.boxTtl .boxTtlInner {
display:table-cell;
vertical-align:middle;
}
* html .boxTtl .boxTtlInner {  
position:absolute;
top:50%;
}
*+html .boxTtl .boxTtlInner {  
position:absolute;
top:50%;
}

.boxTtl .httl {
}
* html .boxTtl .httl {
position:relative;
top:-50%;
}
*+html .boxTtl .httl {  
position:relative;
top:-50%;
}

/* ----------------------------- */
/* blockBottom */
/* ----------------------------- */
.blockBottom {
	position:relative;
	background:url(/lineup/component/cms_images/blockBottom_bg_02.gif) repeat-y top left;
	color:#fff;
}
.blockBottomInner1 {
	padding-top:7px;
	background:url(/lineup/component/cms_images/blockBottom_bg_01.gif) no-repeat top left;
}
.blockBottomInner2 {
	padding-bottom:7px;
	background:url(/lineup/component/cms_images/blockBottom_bg_03.gif) no-repeat bottom left;
}
.blockBottom .pgTop {
	position:absolute;
	top:-14px;
	right:0;
}

.blockBottom a {
	color:#fff;	
}

.bottomBanner {
	margin:20px 15px 0;
}

.bottomBanner .left {
	float:left;
}
.bottomBanner .left li {
	float:left;
	margin-right:5px;
}

.bottomBanner .right {
	float:right;
}
.bottomBanner .right li {
	float:right;
	margin-left:10px;
	line-height:1.3;
}



/* ----------------------------- */
/* pgtop type01 */
/* ----------------------------- */
p.pgTopType01 {
	position:relative;
	background:url(/lineup/component/cms_images/line_pt_01.gif) repeat-x top left;
	height:14px;
}
p.pgTopType01 a {
	position:absolute;
	top:-14px;
	right:0;
}


/* ----------------------------- */
/* pgtop type02 */
/* ----------------------------- */
p.pgTopType02 {
	position:relative;
	background:url(/lineup/component/cms_images/line_pt_02.gif) repeat-x top left;
	height:14px;
}
p.pgTopType02 a {
	position:absolute;
	top:-14px;
	right:0;
}

/* ----------------------------- */
/* default table */
/* ----------------------------- */

table.normal {
	width:100%;
	border-collapse:collapse;
	border-top:1px solid #ddd;	
	border-left:1px solid #ddd;
}
table.normal th {
	background:#4d4d4d;
	color:#fff;
	text-align:center;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:5px 10px;
	font-size:100%;
}
table.normal th.normal {
	background:#fff;
	color:#333;
}

table.normal td {
	background:#fff;
	text-align:center;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:5px 10px;
	font-size:100%;
	line-height:1.3;
}
table.normal th.dotline,
table.normal td.dotline {
	border-right:1px dotted #ddd;	
}

table.normal th.img,
table.normal td.img {
	padding:0;
}

table.normal .th2 th {
	background:#ededed;
	color:#333;
	text-align:center;
	padding:5px 10px;
	font-size:100%;
}

table.normal td.clname {
	font-size:100%;
	text-align:left;
}

table.normal th.img,
table.normal td.img {
	padding:0;
}

.link-ico,
table.normal td.gradeLink {
	text-align:left;
	background:#fff url(/lineup/component/cms_images/grade_ico_01.gif) no-repeat center left !important;
	padding-left:15px;
}

td.borderR_Off {
	border-right:0 !important;
}
td.borderB_Off {
	border-bottom:0 !important;
}

.ecoBg {
	background:#DAEABC !important;
	
}
.packageOption li {
    line-height: 40px;
    list-style: none outside none;
    margin: 0 10px 10px 0;
    padding: 0 0 0 40px;
    text-align: left;
    width: 270px;
}
.grSelect tr.checker td {
	background:#ffd8db !important;
}

#grselBtn li {
	float:left;
	width:225px;
	margin-right:5px;
	margin-bottom:10px;
}
#grselBtn li a {
	display:block;
	padding:5px 15px 10px 30px;
	zoom:1;
	background:url(/lineup/component/cms_images/grsel_bt_01.gif) no-repeat top left;
	font-size:90%;
}
#grselBtn li.stay a,
#grselBtn li a:hover {
  background:url(/lineup/component/cms_images/grsel_bt_01_o.gif) no-repeat top left !important;
}


/* ----------------------------- */
/* grade */
/* ----------------------------- */
.gr00Bottom {
	margin-top:15px;
}
.gr00Bottom ul {
	float:left;
}
.gr00Bottom ul li {
	float:left;
	margin-right:20px;
}
.gr00Bottom .retx {
	float:right;
}
.specLinkBox_Area {
	margin:0 0 25px;
    background:#535c68;
    border: 1px solid #4e5661;
    clear: both;
    padding: 10px;
}
.specLinkBox_Area .leftBox {
    float: left;
}
.specLinkBox_Area .rightBox {
    float: none;
    margin: 0 0 0 229px;
}

.eco75 {
	height:52px !important;
	_height:32px !important;
	background:#fff url(/lineup/component/cms_images/eco75.gif) no-repeat center left !important;
}

.optico img {
	vertical-align:middle;
	padding-right:10px;
	
}

/* ----------------------------- */
/* block ecoDetails */
/* ----------------------------- */
.ecoDetails .box {
border:solid 1px #ededed;
background-color:#ffffff;
padding:40px;
}

.ecoDetails .taxDetails {
border:solid 1px #009550;
background-color:#f2f8ef;
padding:11px 200px 11px 11px;
color:#006600;
margin-top:15px;
position:relative;
}
.ecoDetails .taxDetails dt {
font-weight:bold;
}
.ecoDetails .taxDetails .ico {
position:absolute;
top:10px;
right:10px;
}
.ecoDetails .taxDetails dd {
margin-top:10px;
}
.ecoDetails .taxDetails dd a {
}
.ecoDetails .taxDetails dd img {
vertical-align:middle;
}

/* ----------------------------- */
/* margin */
/* ----------------------------- */

.mgTop5 {
	margin-top:5px !Important;
}
.mgTop10 {
	margin-top:10px !Important;
}
.mgTop20 {
	margin-top:20px !Important;
}

.specialLink {
	margin-top:37px;
	width:740px;
	margin:0 auto;
}


/**/
.pop {
	text-align:center;
	background:#fff !important;
}
.pop .popwrap {
	width:100%;;
}


.pop .popcontents {
padding-top:14px;
background:url(/lineup/component/cms_images/line_pt_01.gif) repeat-x top left;
line-height:1.6;
zoom:1;
}

.pop #headerpop {
text-align:left;
}
.pop .popcontentsWrap {
margin:0 auto;
text-align:left;
width:920px;
}

.pop .content {
padding-top:30px;	
}

.pop .ft_copyright {
	margin-top:0;	
}

.pop .footerWrap {
	margin:0 auto;
text-align:left;

	width:950px;
}

/* ----------------------------- */
/* clearfix */
/* ----------------------------- */
.clearfix:after{
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
.clearfix {
display:inline-table;
min-height: 1%;
}
* html .clearfix {
height: 1%;
}
.clearfix {
zoom:1;
display: block;
}
/* ----------------------------- */