@charset "utf-8";
/* =Default

-------------------------------------------------------------- */
body {
	background: none !important;
	background-color: #FFFFFF !important;
}

#headerpop {
	border-bottom: 1px solid #ef0041;
}

.headerpopArea {
	border-bottom: 2px solid #cac9ca;
}

.headerpopArea .left {
}
.headerpopArea .right {
	text-align: right;
}
	.headerpopArea .right .inner {
		margin-top: -35px;;
		padding-bottom: 20px;
		font-size: 80%;
		margin-right: 12px;
	}
		.headerpopArea .right .inner a {
			text-decoration: underline;
		}
		.headerpopArea .right .inner a:hover {
			color: #ef0041;
		}
		.headerpopArea .right .inner img {
			position: relative;
			top: -5px;
		}

#popnavi {
	margin-top: 45px;
}
	#popnavi td {
	}
		#popnavi p {
			line-height: 1.6em;
		}

div.popwrap {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.popcontents {
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
		
.table_type101 .th_type102 {
	background: #ccccff;
	color: #000000;
	font-weight: bold;
	font-size: 80%;
	padding: 3px;
}

.table_type101 td {
	font-size: 80%;
	padding: 3px;
	text-align: center;
}

.close {
	margin-top: 25px;
	width: 100%;
	text-align: right;
	font-size: 100%;
}
	.close a {
		text-decoration: underline !important;
	}
	.close a:hover {
		color: #ef0041;
	}
	.close img {
		position: relative;
		top: -4px;
	}
	
#footerpop {
	margin-top: 20px;
	background: #cac9ca;
	border-top: 1px solid #ef0041;	
	padding: 5px;
	clear:both;
}

.copyrightArea {
	text-align: right;
	font-size: 91%;
	letter-spacing: 0.01em;
}

.h1area h1 {
	width:670px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
}

.h2area {width:650px;}



