#localNav div.localNavArea ul li#lnav01 a {
text-decoration:none;
background-image:url(http://www.mitsubishi-motors.co.jp/share/images/localnv_im_01_a.gif) !important;
background-repeat:repeat-y;
}
